# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

venv
microblog.log*

# Ignore anything named 'secrets.py'
secrets.py

# Ignore anything named 'snow_data'
snow_data

# Ignore files with the extension '.ipynb'
*.ipynb

# Ignore files with the extension '.old.html'
*.old.html
